<!DOCTYPE html>
<html lang="en" ng-app="PlayerApp">

<head>
	<meta charset="UTF-8">
	<title>Player</title>
	<script src="/angular/angular.min.js"></script>
	<script src="/player.js"></script>
	<script src="/player.ctrl.js"></script>
</head>

<body ng-controller="PlayerCtrl as ctrl">
	<h2>Player</h2>
	<table>
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" placeholder="Name" ng-model="ctrl.name">
			</td>
		</tr>
		<tr>
			<td>Game ID:</td>
			<td>
				<input type="text" placeholder="Game Id" ng-model="ctrl.gameId">
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button ng-click="ctrl.join()" ng-disabled="ctrl.socket">Join</button>
			</td>
		</tr>
	</table>
	<hr>
	<div>
		<img ng-repeat="c in ctrl.hand" src="{{c.image}}" alt="">
	</div>
</body>

</html>