<!DOCTYPE html>
<html lang="en" ng-app="TableApp">

<head>
	<meta charset="UTF-8">
	<title>Table</title>
	<script src="/angular/angular.min.js"></script>
	<script src="/table.js"></script>
	<script src="/table.ctrl.js"></script>
</head>

<body ng-controller="TableCtrl as ctrl">
	<h1>Game: {{ctrl.gameId}}</h1>
	<button ng-click="ctrl.createGame()" ng-disabled="ctrl.gameCreated">Create</button>
	<button ng-click="ctrl.startGame()" ng-disabled="!ctrl.gameCreated">Start</button>
	<hr>
	<div ng-if="ctrl.gameCreated">
		<img src="{{ctrl.topCard.image}}" alt="">
		
	</div>
</body>

</html>